<app-header></app-header>

<ion-content padding>
  <div class="violet-text">
    <p class="bold-text">Privacy Policy</p>
    <p>Last updated: May, 2019</p>
    <p><span class="bold-text">I-Tourist</span> is I-Tourist Application (the 'App').
      This page informs you of our policies regarding the collection, use
      and disclosure of Personal Information we receive from users of
      the App.</p>
    <p>We use your Personal Information only for providing services and
      improving the App. By using the App, you agree to the collection
      and use of information in accordance with this policy.
      Multiplatform mobile and web applications will serve tourists and
      diplomats and service providers in one place and the model is
      B2B2C.</p>
    <p>Tourist / Diplomats will download I-Tourist mobile
      application from mobile market, or will use web pages to
      choose following services:</p>
    <ul>
      <li>Sim card charges (for those who purchased sim card)</li>
      <li>Consular services (interactive form filling and submission)</li>
      <li>Check-Up services (medical checkup schedule and status)</li>
      <li>Insurance services (health, baggage)</li>
      <li>On-Line Doctor (consultations, remote observation, schedule
        meeting, electronic prescriptions)</li>
      <li>Short time Apartments rent services</li>
      <li>Discounts and Benefits</li>
      <li>Trips</li>
      <li>Tickets for show, performances, concerts, museums and others</li>
    </ul>
    <p>Each of one of these services will charge payment resource stored
      in application (Credit Card, PayPal or Device mobile account
      settings-InApp Purchase).</p>
    <p>Each purchase of user is written in back office system. The
      I-Tourist business have or will have relevant agreements with
      service providers, so after each purchase of user the I-Tourist back
      office system will sent payment to service provider based on
      agreement. Could be scheduled once in period (hour, day and
      month) or real time.</p>
    <p>Service providers, such as insurance, consular services, doctors
      will use web Multiplatform application to login (two factor
      authentications, accepting and signing NDA) and serve users
      requests.</p>
    <p>When application is first running user is escorted during initial
      setup. On first screens user asked to configure payment method,
      color palette, application permissions. Next user routed to
      application functional menus and options and through this process
      learning how to access each option in application.</p>
    <p class="bold-text">Information Collection And Use</p>
    <p>While using our App, we may ask you to provide us with certain
      personally identifiable information that can be used to contact or
      identify you. Personally identifiable information may include, but
      is not limited to your name (&quot;Personal Information&quot;).</p>
    <p class="bold-text">
      Log Data
    </p>
    <p>Like many App operators, we collect information that your
      browser sends whenever you visit our App (&quot;Log Data&quot;).</p>
    <p>This Log Data may include information such as your computer&#39;s
      Internet Protocol (&quot;IP&quot;) address, browser type, browser version, the
      pages of our App that you visit, the time and date of your visit, the
      time spent on those pages and other statistics.</p>
    <p>In addition, we may use third party services providers.</p>
    <p class="bold-text">Communications</p>
    <p>We may use your Personal Information to contact you marketing or
      promotional materials and other information.</p>
    <p class="bold-text">Cookies</p>
    <p>Cookies are files with small amount of data, which may include an
      anonymous unique identifier. Cookies are sent to your browser
      from a App and stored on your mobile&#39;s hard drive.</p>
    <p>Like many App&#39;s, we use &quot;cookies&quot; to collect information. You can
      instruct your mobile and smart phones browser to refuse all
      cookies or to indicate when a cookie is being sent.
      However, if you do not accept cookies, you may not be able to use
      some portions of our App.</p>
    <p class="bold-text">Security, Regulations and Law</p>
    <p>The security of your Personal Information is important to us, but
      remember that no method of transmission over the Internet, or
      method of electronic storage, is 100% secure. While we strive to
      use commercially acceptable means to protect your Personal
      Information, we cannot guarantee its absolute security.</p>
    <ol>
      <li>
        All personal information should be stored by using highest
        encryption algorithm and DLP controls will be implemented on
        each information processing steps. (PIPA, GDPR)
      </li>
      <li>
        Any medical information will be stored by using highest
        encryption algorithm and DLP controls will be implemented on
        each information processing steps. (HIPPA, PIPA, GDPR)
      </li>
      <li>
        Every access to data will be audited, monitored and reported.
      </li>
      <li>
        The DC business members only will be authorized to access
        back office system and data. Access methods will be based only
        on Strong Authentication and Two Factor authorization
        algorithms.
      </li>
    </ol>
    <p>The tourist repository DB should be registered in Ministry of
      Justice and The Privacy Protection Authority (PPA) of Israel.</p>
    <p class="bold">The Privacy Protection Law grants data subjects the right to
      access their personal data. The Privacy Protection Authority
      (PPA) expressed its opinion that the right to access includes
      data in any format or file type, including video, text messaging
      and voice recordings.</p>
    <p>This right applies to customers who want to access data
      collected/stored by their service provider. According to PPAs
      guidelines, the right to access data means that data subjects should
      receive the data in digital format that may be read, heard or viewed
      by publicly available software, via email, secure website or any
      other digital mean.
      The service provider&#39;s I-tourist authenticates the identity of the data
      subject and ensures that the applicant will not receive data about
      other data subjects.</p>
    <p class="bold-text">Changes To This Privacy Policy</p>
    <p>This Privacy Policy is effective as of (add date) and will remain in
      effect except with respect to any changes in its provisions in the
      future, which will be in effect immediately after being posted on
      this page.</p>
    <p> We reserve the right to update or change our Privacy Policy at any
      time and you should check this Privacy Policy periodically. Your
      continued use of the Service after we post any modifications to the
      Privacy Policy on this page will constitute your acknowledgment
      of the modifications and your consent to abide and be bound by the
      modified Privacy Policy.</p>
    <p>If we make any material changes to this Privacy Policy, we will
      notify you either through the email address you have provided us,
      or by placing a prominent notice on our website.</p>
    <p class="bold-text">Contact Us</p>
    <p>If you have any questions about this Privacy Policy, please contact
      us.</p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateToMenu()">{{ text?.ok }}</ion-button>
  </ion-toolbar>
</ion-footer>