<ion-grid>
  <ion-row>
    <ion-col align-self-end>
      <ion-img id="left-img" src="assets/screens/sun-red.svg"></ion-img>
    </ion-col>
    <ion-col class="col-auto">
      <div id="profile-no-img-block">
        <div>
          <ion-img src="assets/screens/weather-start.svg"></ion-img>
          <div id="rect"></div>
        </div>
      </div>
    </ion-col>
    <ion-col align-self-end>
      <ion-img id="right-img" src="assets/screens/clouds-red.svg"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-item id="profile-img-label" class="violet-text">
  <span>Weather</span>
</ion-item>