<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon src="assets/screens/violet-menu-icon.svg"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-item>
      <ion-title class="violet-text text-center">{{ text?.welcome_to_israel }}</ion-title>
    </ion-item>
    <ion-buttons slot="end">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <div id="logo">
              <div id="top-part">
                <div id="circle"></div>
              </div>
              <div id="bottom-part"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" (click)="openEasySite()">
    <ion-fab-button id="easy-link-btn" size="small">
      <ion-img src="assets/screens/easy.png"></ion-img>
    </ion-fab-button>
  </ion-fab>
  <ion-grid id="main-block">
    <ion-row justify-content-around>
      <ion-col size="4" text-center class="violet-text" (click)="navigateTo('/profile-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/my-profile-main-menu.svg"></ion-img>
        </div>
        <span>{{ text?.my_profile }}</span>
      </ion-col>
      <ion-col size="4" text-center class="violet-text" (click)="navigateTo('/sim-card-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/sim-card.svg"></ion-img>
        </div>
        <span>{{ text?.sim_card }}</span>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col size="4" text-center class="violet-text" (click)="navigateTo('/alerts-and-notifications-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/alerts-and-notifications.svg"></ion-img>
        </div>
        <span>{{ text?.alerts_and_notifications }}</span>
      </ion-col>
      <ion-col size="4" text-center class="violet-text" (click)="navigateTo('/my-requests')">
        <div class="grid-item">
          <ion-img src="assets/screens/my-requests.svg"></ion-img>
        </div>
        <span>{{ text?.my_requests }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="showPopup">
  <div id="alert-block" [class.alert-theme]="alert?.type !== 'YNET'">
    <div id="gradient-line">
      <ion-button size="small" id="close-btn" (click)="togglePopup(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div id="alert-body">
      <div id="alert-text" class="violet-text">{{ alert?.title }}</div>
      <ion-button href="{{alert?.link}}" id="link-btn">{{ text?.read_more }}</ion-button>
    </div>
  </div>
</ion-footer>