<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon src="assets/screens/violet-menu-icon.svg"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-item>
      <ion-title class="violet-text text-center">{{ text?.welcome_to_israel }}</ion-title>
    </ion-item>
    <ion-buttons slot="end">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <div id="logo">
              <div id="top-part">
                <div id="circle"></div>
              </div>
              <div id="bottom-part"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="scrollListener($event)">
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button id="easy-link-btn" size="small" (click)="openEasySite()">
      <ion-img src="assets/screens/easy.png"></ion-img>
    </ion-fab-button>
    <span id="easy-text" class="font-size-12 violet-text"
      [class.hide-easy-text]="hideEasyText">{{ text?.find_everything }}</span>
  </ion-fab>

  <ion-fab id="language-tab" vertical="top" horizontal="start">
    <ion-fab-button id="langugae-fab" size="small">{{ languageLabel }}</ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="setLanguage('En')" class="fab-list-item">
        <ion-img class="language-image" src="assets/screens/english_flag.jpg"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setLanguage('Fr')" class="fab-list-item">
        <ion-img class="language-image" src="assets/screens/french_flag.jpg"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setLanguage('Sp')" class="fab-list-item">
        <ion-img class="language-image" src="assets/screens/spanish_flag.jpg"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="setLanguage('Ru')" class="fab-list-item">
        <ion-img class="language-image" src="assets/screens/russian_flag.jpg"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid id="main-block">
    <ion-row justify-content-center margin-bottom>
      <ion-col size="8" size-md="6">
        <ion-button class="w-100 top-btn" (click)="navigateTo(isAuthorized ? '/my-requests' : '/login')">
          {{ isAuthorized ? text?.go_to_my_request : text?.to_login }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around id="first-menu-row">
      <ion-col size="3" text-center class="violet-text" (click)="navigateTo('/alerts-and-notifications-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/alerts-and-notifications.svg"></ion-img>
        </div>
        <span class="font-size-12">{{ text?.alerts_and_notifications }}</span>
      </ion-col>
      <ion-col size="3" text-center class="violet-text">
        <div class="grid-item disabled-item">
          <ion-img src="assets/screens/currency-rates-disable.svg">
          </ion-img>
          <div class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.currency_rates }}</span>
      </ion-col>
      <!-- <ion-col size="3" text-center class="violet-text"
        (click)="isAuthorized ? navigateTo('/online-doctor-start') : null">
        <div class="grid-item" [style.borderColor]="isAuthorized ? '#6ba0fe' : '#D4DCEF'">
          <ion-img
            [attr.src]="isAuthorized ? 'assets/screens/online-doctor.svg' : 'assets/screens/online-doctor-disable.svg'">
          </ion-img>
          <div *ngIf="!isAuthorized" class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span>{{ text?.online_doctor }}</span>
      </ion-col> -->
      <ion-col size="3" text-center class="violet-text" (click)="navigateTo('/sim-card-choose')">
        <div class="grid-item">
          <ion-img src="assets/screens/sim-card.svg"></ion-img>
        </div>
        <span class="font-size-12">{{ text?.sim_card }}</span>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col size="3" text-center class="violet-text">
        <div class="grid-item disabled-item">
          <ion-img src="assets/screens/travel-insurance-disabled.svg">
          </ion-img>
          <div class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.insurance }}</span>
      </ion-col>
      <!-- <ion-col size="3" text-center class="violet-text" (click)="isAuthorized ? navigateTo('/profile-start') : null">
        <div class="grid-item" [style.borderColor]="isAuthorized ? '#6ba0fe' : '#D4DCEF'">
          <ion-img
            [attr.src]="isAuthorized ? 'assets/screens/my-profile-main-menu.svg' : 'assets/screens/my-profile-main-menu-disable.svg'">
          </ion-img>
          <div *ngIf="!isAuthorized" class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.my_profile }}</span>
      </ion-col> -->

      <ion-col size="3" text-center class="violet-text" (click)="navigateTo('/profile-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/my-profile-main-menu.svg"></ion-img>
        </div>
        <span class="font-size-12">{{ text?.my_profile }}</span>
      </ion-col>


      <ion-col size="3" text-center class="violet-text">
        <div class="grid-item disabled-item">
          <ion-img src="assets/screens/concular-service-disabled.svg">
          </ion-img>
          <div class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.consular_service }}</span>
      </ion-col>
      <!-- <ion-col size="4" text-center class="violet-text" (click)="isAuthorized ? navigateTo('/check-up-services-start') : null">
        <div class="grid-item" [style.borderColor]="isAuthorized ? '#6ba0fe' : '#D4DCEF'">
          <ion-img
            [attr.src]="isAuthorized ? 'assets/screens/check-up-service.svg' : 'assets/screens/check-up-service-disable.svg'">
          </ion-img>
          <div *ngIf="!isAuthorized" class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span>{{ text?.check_up_service }}</span>
      </ion-col> -->
    </ion-row>
    <ion-row justify-content-around>
      <ion-col size="3" text-center class="violet-text" (click)="navigateTo('/online-doctor-start')">
        <div class="grid-item">
          <ion-img src="assets/screens/online-doctor.svg"></ion-img>
        </div>
        <span class="font-size-12">{{ text?.online_doctor }}</span>
      </ion-col>
      <ion-col size="3" text-center class="violet-text">
        <div class="grid-item disabled-item">
          <ion-img src="assets/screens/translation-services-disabled.svg"></ion-img>
          <div class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.translation_services }}</span>
      </ion-col>
      <ion-col size="3" text-center class="violet-text">
        <div class="grid-item disabled-item">
          <ion-img src="assets/screens/tickets-disabled.svg"></ion-img>
          <div class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span class="font-size-12">{{ text?.tickets }}</span>
      </ion-col>
      <!-- <ion-col size="3" text-center class="violet-text" (click)="navigateTo('/order-sim-start')">
        <div class="grid-item">
          <ion-img id="sim-card-order-img" src="assets/screens/sim-card-blue.png"></ion-img>
        </div>
        <span>{{ text?.sim_card_ordering }}</span>
      </ion-col>
      <ion-col size="3" text-center class="violet-text" (click)="isAuthorized ? navigateTo('/sim-card-start') : null">
        <div class="grid-item" [style.borderColor]="isAuthorized ? '#6ba0fe' : '#D4DCEF'">
          <ion-img
            [attr.src]="isAuthorized ? 'assets/screens/phone-with-sim.png' : 'assets/screens/phone-with-sim-disable.png'">
          </ion-img>
          <div *ngIf="!isAuthorized" class="lock-badge">
            <ion-icon slot="icon-only" src="assets/screens/lock.svg"></ion-icon>
          </div>
        </div>
        <span>{{ text?.sim_card_activating }}</span>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div *ngIf="showWeatherPopup && weatherIsLoaded" class="popup-block alert-theme">
    <div id="gradient-line">
      <ion-button size="small" id="close-btn" (click)="toggleWeatherPopup(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div id="alert-body" class="violet-text" (click)="navigateTo('/weather-start')">
      <div align-self-end>
        <div>{{ text?.humidity }}: {{ humidity }}%</div>
        <div>{{ text?.wind }}: {{ wind }} m/s</div>
      </div>
      <div id="temperature-label" align-self-end>
        <span class="font-size-32">{{ temperature }}&deg;&nbsp;</span>
        <span class="font-size-20">C</span>
        <div>{{ city }}</div>
      </div>
      <ion-img id="weather-img" [src]="pathToWeatherIcon" align-self-end></ion-img>
    </div>
  </div>
  <div *ngIf="showAlertPopup" class="popup-block" [class.alert-theme]="alert?.type !== 'YNET'">
    <div id="gradient-line">
      <ion-button size="small" id="close-btn" (click)="toggleAlertPopup(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div id="alert-body">
      <div id="alert-text" class="violet-text">{{ alert?.title }}</div>
      <ion-button href="{{alert?.link}}" id="link-btn">{{ text?.read_more }}</ion-button>
    </div>
  </div>
</ion-footer>