@import "../../../../utilities";

ion-menu-button {
  color: $pale-blue;
}

ion-badge {
  height: 120%;
  background: linear-gradient(to right, #6c9eff, #a25ffd);
  border-radius: 20px;
  padding: 12px 15px 6px;
  position: relative;
  top: -3px;
}

#logo {
  height: 26px;
  width: 18px;

  #top-part {
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background: linear-gradient(to right, #6c9eff, #a25ffd);

    #circle {
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
    }
  }

  #bottom-part {
    height: 18px;
    width: 6px;
    margin: 2px auto 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, #6c9eff, #a25ffd);
  }
}

#easy-link-btn {
  --background: rgba(0,161,214,0.85);
  --background-activated: rgba(0,161,214,0.85);

  ion-img {
    width: 25px;
    margin-top: 5px;
  }
}

.hidden {
  visibility: hidden;
}

#logout-col {
  padding-top: 7px;
}

ion-title {
  font-weight: 100;
}

#go-to-request-btn {
  width: 100%;
  height: 45px;
  text-transform: unset;
  --border-radius: 45px;
  --background: linear-gradient(to right, #f56272, #f78a7b);
  --background-activated: linear-gradient(to right, #f56272, #f78a7b);
}

#grid-block {
  color: #6ba0fe;
}

.grid-item {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  border: solid 1px #6ba0fe;
  position: relative;

  ion-img {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.disabled {
  opacity: 0.5;
}

.label {
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #f56272, #f78a7b);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  ion-img {
    width: 45%;
  }
}

#main-block {
  margin-top: 75px;
  margin-bottom: 30px;

  ion-row:nth-child(2) {
    margin-top: 50px;
  }
}

.title-ios,
.title-md {
  padding: 0;
}

#alert-block {
  width: 100%;
  min-height: 100px;

  #gradient-line {
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, #6c9eff, #a25ffd);
    position: relative;

    #close-btn {
      position: absolute;
      width: 30px;
      height: 30px;
      --box-shadow: none;
      --background: #6c9eff;
      --background-activated: #6c9eff;
      --border-radius: 0;
      margin: 0;
      left: 10%;
      bottom: 0;
      color: white;
      font-weight: bold;
      font-size: 0;

      ion-icon {
        color: white;
        font-weight: bold;
        font-size: 36px;
      }
    }
  }

  #alert-body {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;

    #alert-text {
      font-size: 20px;
    }

    #link-btn {
      --background: linear-gradient(to right, #6c9eff, #a25ffd);
      --background-activated: linear-gradient(to right, #6c9eff, #a25ffd);
      --border-radius: 30px;
    }
  }
}

.alert-theme {
  #gradient-line {
    background: linear-gradient(to right, #f56473, #f8d28b) !important;

    #close-btn {
      --background: #f56473 !important;
      --background-activated: #f56473 !important;
    }
  }

  #alert-body {
    #link-btn {
      --background: linear-gradient(to bottom, #f7897a, #f56473) !important;
      --background-activated: linear-gradient(to bottom, #f7897a, #f56473) !important;
    }
  }
}
