<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-end>
        <ion-img id="left-img" src="assets/screens/checkup-service-start-left.svg"></ion-img>
      </ion-col>
      <ion-col class="col-auto">
        <div id="profile-no-img-block">
          <div>
            <ion-img src="assets/screens/check-up-service.svg"></ion-img>
            <div id="rect"></div>
          </div>
        </div>
      </ion-col>
      <ion-col align-self-end>
        <ion-img id="right-img" src="assets/screens/checkup-service-start-right.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item id="profile-img-label" class="violet-text">
    <span>{{text?.check_up_service | titlecase}}</span>
  </ion-item>
  <div id="text-block" padding>
    <p class="violet-text">{{ text?.start_text }}</p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateTo('/check-up-services')">{{ text?.ok | titlecase }}</ion-button>
  </ion-toolbar>
</ion-footer>