<app-header></app-header>

<ion-content>
  <div id="text-block" class="violet-text bold-text font-size-16">{{ text?.your_plan }}</div>
  <ion-card class="violet-text">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col align-self-end class="font-size-16"><span class="bold-text">{{ text?.plan }}</span> {{ plan?.package?.title }}</ion-col>
        </ion-row>
        <ion-row id="three-chips-container">
          <ion-col size="9">
            <ion-row>
              <ion-col id="first-col" class="col-auto text-center">
                <ion-chip>
                  <ion-icon name="call"></ion-icon>
                </ion-chip>
                <p class="bold-text mt-5">0</p>
                <p class="mt-5">({{ plan?.package?.calls }})</p>
              </ion-col>
              <ion-col class="col-auto text-center">
                <ion-chip>
                  <ion-icon name="wifi"></ion-icon>
                </ion-chip>
                <p class="bold-text mt-5">0</p>
                <p class="mt-5">({{ plan?.package?.traffic }} GB)</p>
              </ion-col>
              <ion-col class="col-auto text-center">
                <ion-chip>
                  <ion-icon name="mail"></ion-icon>
                </ion-chip>
                <p class="bold-text mt-5">0</p>
                <p class="mt-5">({{ plan?.package?.emails }})</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateToChoosePlan()">{{ text?.choose_another_plan }}</ion-button>
  </ion-toolbar>
</ion-footer>