<ion-content>
  <div id="upper-background" [class.ios-header]="iosPlatform">
    <ion-menu-toggle slot="start">
      <ion-icon src="assets/screens/white-menu-icon.svg"></ion-icon>
    </ion-menu-toggle>
    <ion-img id="home-img" [class.ios-header]="iosPlatform" src="assets/screens/home-white.svg" (click)="navigateTo('main')"></ion-img>
    <span id="logout-label" [class.ios-header]="iosPlatform" (click)="logout()">{{ text?.logout }}</span>
    <ion-img id="background-img" src="assets/screens/upper-gradient-background-violet.png"></ion-img>
  </div>
  <div *ngIf="!profile?.photo" id="profile-no-img-block">
    <div>
      <ion-img src="assets/screens/icon-profile.svg"></ion-img>
      <div id="rect"></div>
    </div>
  </div>
  <div *ngIf="profile?.photo" id="profile-img-block" [ngStyle]="{'background-image': 'url(' + profile?.photo + ')'}">
  </div>
  <ion-item id="profile-img-label" class="violet-text">
    <span>{{ text?.my_profile }}</span>
  </ion-item>
  <div id="text-block" padding margin-vertical>
    <ion-item>
      <span class="violet-text">{{ text?.first_text }}</span>
    </ion-item>
    <ion-item>
      <span class="violet-text">{{ text?.second_text }}</span>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateTo('profile')">{{ text?.go }}</ion-button>
  </ion-toolbar>
</ion-footer>