<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="violet-text" defaultHref="login" text="{{ text ? text.to_login : '' }}">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <div id="logo">
              <div id="top-part">
                <div id="circle"></div>
              </div>
              <div id="bottom-part"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>
  <ion-grid>
    <ion-row id="text-block" class="violet-text" justify-content-between>
      <ion-col>{{ text?.forgot_password }}</ion-col>
      <!-- <ion-col>
        <ion-button id="to-login-btn" (click)="navigate('/login')" class="w-100">{{ text?.to_login }}</ion-button>
      </ion-col> -->
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="9" size-lg="5">
        <ion-item class="violet-text">
          <span text-center>{{ text?.enter_your_email }}</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="7" size-lg="5">
        <ion-item class="violet-text form-field" [class.error-field]="submitTry && email.invalid">
          <ion-input type="email" [formControl]="email" placeholder="{{ text?.email }}"></ion-input>
        </ion-item>
        <div id="errors-block">
          <ion-item *ngIf="submitTry && email.hasError('required')" class="red-text">
            <span>{{ text?.fill_empty_fields }}</span>
          </ion-item>
          <ion-item *ngIf="submitTry && email.hasError('email')" class="red-text">
            <span>{{ text?.email_not_valid }}</span>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="confirmEmail()">{{ text?.send }}</ion-button>
  </ion-toolbar>
</ion-footer>