<app-header></app-header>

<ion-content padding-horizontal>
  <form [formGroup]="form" (submit)="saveProfile()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="!image.imgInfo.profile.src" id="upload-img-block" (click)="image.getPhoto('profile')">
            <ion-img src="assets/screens/icon-profile.svg"></ion-img>
            <div id="rect"></div>
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
          <div *ngIf="image.imgInfo.profile.src" id="img-block" [ngStyle]="{'background-image': 'url(' + image.imgInfo.profile.src + ')'}"
            (click)="image.getPhoto('profile')">
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col id="profile-info-block" size-md="7" size-lg="5" margin-vertical>
          <ng-container *ngIf="!editInfo">
            <ion-item class="violet-text">
              <b>Name:</b>&nbsp; {{ form?.get('name')?.value }}
            </ion-item>
            <ion-item class="violet-text">
              <b>E-mail address:</b>&nbsp; {{ form?.get('email')?.value }}
            </ion-item>
            <ion-item id="last-info-item" class="violet-text">
              <b>Language:</b>&nbsp; {{ form?.get('language')?.value }}
            </ion-item>
            <ion-fab-button (click)="editInfo = true">
              <ion-icon src="assets/screens/icon-pen.svg"></ion-icon>
            </ion-fab-button>
          </ng-container>
          <ng-container *ngIf="editInfo">
            <ion-item class="violet-text register-form-field" [class.error-field]="submitTry && form.get('name').invalid">
              <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item class="violet-text register-form-field" [class.error-field]="submitTry && form.get('email').invalid">
              <ion-input type="email" formControlName="email" placeholder="E-mail address"></ion-input>
            </ion-item>
            <ion-item no-padding class="violet-text select-field" [class.error-field]="submitTry && form.get('language').invalid">
              <div></div>
              <ion-select formControlName="language" placeholder="Select language">
                <ion-select-option value="english">English</ion-select-option>
                <ion-select-option value="hebrew">Hebrew</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('name').hasError('required')" class="red-text">
              <span>Name is required.</span>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('email').hasError('required')" class="red-text">
              <span>Email is required.</span>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('email').hasError('email')" class="red-text">
              <span>Email is not valid.</span>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('language').hasError('required')" class="red-text">
              <span>Language is required.</span>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row id="text-block" class="violet-text">
        <ion-col>Attach a passport photo, airline tickets, and travel insurance</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.airline.deleted" (click)="image.getPhoto('airline')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              airline tickets
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.airline.deleted" (click)="image.deletePhoto('airline')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.airline.src + ')'}"></div>
              <span class="hidden">airline tickets</span>
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.travel.deleted" (click)="image.getPhoto('travel')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              travel insurance
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.travel.deleted" (click)="image.deletePhoto('travel')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.travel.src + ')'}"></div>
              <span class="hidden">travel insurance</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.passport.deleted" (click)="image.getPhoto('passport')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              passport
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.passport.deleted" (click)="image.deletePhoto('passport')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.passport.src + ')'}"></div>
              <span class="hidden">passport</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="btn bottom-btn" (click)="saveProfile()">Save</ion-button>
  </ion-toolbar>
</ion-footer>