@import "../../../utilities";

#upload-img-block {
  width: 100px;
  height: 100px;
  position: relative;
  background: url("../../../assets//screens/subtract.svg");
  background-size: contain;
  display: flex;
  justify-content: center;

  ion-img {
    width: 45%;
    z-index: 1;
  }

  #rect {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -10%;
    background-color: white;
    margin: 0 auto;
    transform: rotate(45deg);
  }

  #label {
    width: 22px;
    height: 22px;
    background-color: white;
    box-shadow: 0 0 3px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
      width: 65%;
    }
  }
}

#img-block {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;

  #label {
    width: 22px;
    height: 22px;
    background-color: white;
    box-shadow: 0 0 3px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
      width: 65%;
    }
  }
}

#img-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.register-form-field {
  margin: 20px 0;
  padding-left: 20px;
  --padding-start: 0;
  --min-height: 0;
  --inner-padding-end: 0;
  background-color: $field-background;

  ion-input {
    background-color: $field-background;
  }
}

#google-btn {
  --background: red;
}

#facebook-btn {
  --background: cornflowerblue;
}

.attach-btn-col {
  div {
    position: relative;
    width: fit-content;

    div {
      position: absolute;
      height: 20px;
      width: 20px;
      box-shadow: 0 0 3px;
      border-radius: 50%;
      background-color: white;
      z-index: 2;
      right: 15px;
      top: -5px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-img {
        width: 60%;
      }
    }

    .attach-btn {
      text-transform: unset;
      height: 35px;
      font-size: 14px;
      --border-radius: 45px;
      --background: linear-gradient(to right, #f56272, #f78a7b);
      --background-activated: linear-gradient(to right, #f56272, #f78a7b);
    }
  }
}

.error-msg {
  color: red;
  position: absolute;
  top: 245px;
  left: 25px;
}

#profile-info-block {
  position: relative;

  ion-fab-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
