<ion-content>
  <div id="upper-background">
    <ion-menu-toggle slot="start">
      <ion-icon src="assets/screens/white-menu-icon.svg"></ion-icon>
    </ion-menu-toggle>
    <span id="logout-label" (click)="logout()">Logout</span>
    <ion-img src="assets/screens/upper-gradient-background-violet.png"></ion-img>
  </div>
  <div *ngIf="!profile?.photo" id="profile-no-img-block">
    <div>
      <ion-img src="assets/screens/icon-profile.svg"></ion-img>
      <div id="rect"></div>
    </div>
  </div>
  <div *ngIf="profile?.photo" id="profile-img-block" [ngStyle]="{'background-image': 'url(' + profile?.photo + ')'}">
  </div>
  <ion-item id="profile-img-label" class="violet-text">
    <span>Call Room</span>
  </ion-item>
  <ion-item *ngIf="!incomingCall" class="violet-text message-text">
    <span>You don't have any incoming calls</span>
  </ion-item>
  <ion-item *ngIf="incomingCall" class="violet-text message-text">
    <span>Incoming call from: {{ socketReceiveData?.user }}</span>
  </ion-item>
  <ion-fab-button *ngIf="incomingCall" (click)="acceptCall()">
    <ion-icon src="assets/screens/phone-call-button.svg"></ion-icon>
  </ion-fab-button>
</ion-content>