<app-header></app-header>

<ion-content>
  <ion-grid id="container">
    <ion-row id="text-block" class="violet-text">
      <ion-col>Choose a media company</ion-col>
    </ion-row>
    <ion-row id="main-block" justify-content-center>
      <ion-col size="7" size-md="6" size-lg="3">
        <ion-grid class="h-100">
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="first-company" class="w-100" [class.disabled-btn]="selectedCompanyId !== 0" [disabled]="!isOrderedSimCard"
                (click)="selectCompany(0)">Partner</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="second-company" class="w-100" [class.disabled-btn]="selectedCompanyId !== 1" [disabled]="!isOrderedSimCard"
                (click)="selectCompany(1)">גדכדגעףעח</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="third-company" class="w-100" [class.disabled-btn]="selectedCompanyId !== 2" [disabled]="!isOrderedSimCard"
                (click)="selectCompany(2)">גדכדגעףעח</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row id="order-sim-block" justify-content-center>
      <ion-col align-self-center size="8" size-md="7" size-lg="4">
        <ion-button *ngIf="!isOrderedSimCard" id="oder-sim-btn" class="w-100 btn" (click)="navigateToOrderSimPage()">
          Order of new SIM card
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="btn bottom-btn" (click)="navigateToChoosePlanPage()">Choose plan</ion-button>
  </ion-toolbar>
</ion-footer>