<app-header></app-header>

<ion-content padding-horizontal>
  <form [formGroup]="form" (submit)="saveProfile()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="!image.imgInfo.profile.src" id="upload-img-block" (click)="image.getPhoto('profile')">
            <ion-img src="assets/screens/icon-profile.svg"></ion-img>
            <div id="rect"></div>
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
          <div *ngIf="image.imgInfo.profile.src" id="img-block"
            [ngStyle]="{'background-image': 'url(' + image.imgInfo.profile.src + ')'}"
            (click)="image.getPhoto('profile')">
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col id="profile-info-block" size-md="7" size-lg="5" margin-vertical>
          <ng-container *ngIf="!editInfo">
            <ion-item class="violet-text profile-item">
              <b>{{ text?.email_address }}:</b><span>&nbsp; {{ form?.get('email')?.value }}</span>
            </ion-item>
            <ion-item class="violet-text profile-item">
              <b>{{ text?.name }}:</b>&nbsp; {{ form?.get('name')?.value }}
            </ion-item>
            <ion-item id="last-info-item profile-item" class="violet-text">
              <b>{{ text?.language }}:</b>&nbsp; {{ form?.get('language')?.value | lowercase }}
            </ion-item>
            <ion-fab-button (click)="editInfo = true">
              <ion-icon src="assets/screens/icon-pen.svg"></ion-icon>
            </ion-fab-button>
          </ng-container>
          <ng-container *ngIf="editInfo">
            <ion-item class="violet-text register-form-field"
              [class.error-field]="submitTry && form.get('email').invalid">
              <ion-input readonly type="email" formControlName="email" placeholder="{{ text?.email_address }}"></ion-input>
            </ion-item>
            <ion-item class="violet-text register-form-field"
              [class.error-field]="submitTry && form.get('name').invalid">
              <ion-input type="text" formControlName="name" placeholder="{{ text?.name }}"></ion-input>
            </ion-item>
            <ion-item class="violet-text register-form-field"
              [class.error-field]="submitTry && form.get('language').invalid" (click)="presentActionSheet()">
              <ion-input type="text" readonly formControlName="language" placeholder="{{ text?.select_language }}">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('name').hasError('required')" class="red-text">
              <span>{{ text?.name_required }}</span>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('name').hasError('pattern')" class="red-text">
              <span>{{ text?.only_letters }}</span>
            </ion-item>
            <ion-item *ngIf="submitTry && form.get('language').hasError('required')" class="red-text">
              <span>{{ text?.language_required }}</span>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row id="text-block" class="violet-text">
        <ion-col>{{ text?.attach_photo }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.airline.deleted" (click)="image.getPhoto('airline')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              {{ text?.airline_tickets }}
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.airline.deleted" (click)="image.deletePhoto('airline')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.airline.src + ')'}">
              </div>
              <span class="hidden">{{ text?.airline_tickets }}</span>
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.travel.deleted" (click)="image.getPhoto('travel')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              {{ text?.travel_insurance }}
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.travel.deleted" (click)="image.deletePhoto('travel')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.travel.src + ')'}">
              </div>
              <span class="hidden">{{ text?.travel_insurance }}</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.imgInfo.passport.deleted" (click)="image.getPhoto('passport')">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              {{ text?.passport }}
            </ion-button>
          </div>
          <div *ngIf="!image.imgInfo.passport.deleted" (click)="image.deletePhoto('passport')">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              <div class="btn-img-wrapper" [ngStyle]="{'background-image': 'url(' + image.imgInfo.passport.src + ')'}">
              </div>
              <span class="hidden">{{ text?.passport }}</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="btn bottom-btn" (click)="saveProfile()">{{ text?.save }}</ion-button>
  </ion-toolbar>
</ion-footer>