<ion-grid>
  <ion-row>
    <ion-col align-self-end>
      <ion-img id="left-img" src="assets/screens/security-alerts.svg"></ion-img>
    </ion-col>
    <ion-col class="col-auto">
      <div id="profile-no-img-block">
        <div>
          <ion-img src="assets/screens/sim-card.svg"></ion-img>
          <div id="rect"></div>
        </div>
      </div>
    </ion-col>
    <ion-col align-self-end>
      <ion-img id="right-img" src="assets/screens/stethoscope.svg"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-item id="profile-img-label" class="violet-text">
  <span>Sim card charges</span>
</ion-item>
<div id="text-block" padding>
  <p class="violet-text">Charging your Israeli sim is easy</p>
  <ul class="violet-text">
    <li>Select your sim card</li>
    <li>Choose your Topup Plan</li>
    <li>Checkout with Credit card</li>
  </ul>
</div>