<ion-content padding>
  <ion-slides class="h-100" #slider [options]="options" (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide>
      <ion-img class="w-100" src="assets/screens/ambulance.svg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="w-100" src="assets/screens/calls-list.svg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="w-100" src="assets/screens/online-doctor.svg"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateToLogin()">Skip</ion-button>
  </ion-toolbar>
</ion-footer>