<app-header></app-header>

<ion-content padding>

  <span class="violet-text bold-text">One day Checkup program included:</span>
  <ul class="violet-text">
    <li>
      <span class="bold-text">General</span> medical examination: a thorough examination, including blood pressure,
      weight and height.
    </li>
    <li>
      <span class="bold-text">Blood tests:</span>
      <ul>
        <li>
          Hematologic, HIV & hepatitis.
        </li>
        <li>
          A wide range of chemical blood tests: sugar, calcium, kidney function (urea, creatine, acid Orit), blood
          lipids
          (cholesterol, triglycerides), blood proteins (albumin, globulin), functional, B12.
        </li>
        <li>
          Heavy (bilirubin, alkaline phosphatase, S.G.O.T, L.D.H., S.G.P.T), phosphorus.
        </li>
        <li>
          A blood test for the early detection of prostate cancer (PSA) blood test and monitoring thyroid function
          (TSH). Blood
          lipid testing - LDL, HDL.
        </li>
      </ul>
    </li>
    <li>
      <span class="bold-text">General urine tests:</span>
      <ul>
        <li>
          PH, proteins (albumin, globulin), ketone, orobylinogen, blood in the urine, bilirubin, nitrite.
        </li>
        <li>
          White blood cells.
        </li>
      </ul>
    </li>
    <li class="bold-text">
      Fecal occult blood
    </li>
    <li>
      <span class="bold-text">Cardiac:</span>
      <ul>
        <li>
          ECG - Rest. + In an effort to test heart (ECG - effort).
        </li>
        <li>
          Argometry.
        </li>
        <li>
          Cardiac advice.
        </li>
      </ul>
    </li>
    <li>
      <span class="bold-text">Pulmonary</span> function test (spirometer), computer analysis.
    </li>
    <li>
      <span class="bold-text">Eye</span> examination: IOP, fundus and visual acuity.
    </li>
    <li>
      <span class="bold-text">Hearing</span> test function.
    </li>
    <li>
      <span class="bold-text">Chest</span> radiography: straight and versatile, including decoding by a radiologist.
    </li>
    <li>
      Nutrition advice: will be provided based on individual tests and findings and the patent's request.
    </li>
    <li class="bold-text">
      Gynecology test
    </li>
    <li class="bold-text">
      Bone density
    </li>
    <li class="bold-text">
      Mammography
    </li>
    <li>
      The conversation concludes with a doctor Institute.
    </li>
  </ul>

  <p class="violet-text font-size-14">
    A test that allows us to evaluate the level of heart function under controlled stress conditions and to diagnose and
    detect Invasive heart disease at an early stage before the onset of clinical complaints and signs.
    The results of the tests are deciphered by specialists at your own language and will up load to application in 3
    days.
  </p>

  <p class="violet-text bold-text">Price: 2800 NIS per person</p>
  <p class="violet-text">General oncomarker 1300 NIS ( not on the same day).</p>
  <p class="violet-text">Colonoskopy 1822 NIS</p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateBack()">Ok</ion-button>
  </ion-toolbar>
</ion-footer>