<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-end>
        <ion-img id="left-img" src="assets/screens/sun-red.svg"></ion-img>
      </ion-col>
      <ion-col class="col-auto">
        <div id="profile-no-img-block">
          <div>
            <ion-img src="assets/screens/weather-start.svg"></ion-img>
            <div id="rect"></div>
          </div>
        </div>
      </ion-col>
      <ion-col align-self-end>
        <ion-img id="right-img" src="assets/screens/clouds-red.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item id="profile-img-label" class="violet-text">
    <span>{{ text?.weather }}</span>
  </ion-item>
  <div id="text-block" padding>
    <p class="violet-text">Weather description</p>
    <ul class="violet-text">
      <!-- <li *ngFor="let item of text?.items_text">{{ item }}</li> -->
    </ul>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="navigateTo('/weather')">{{ text?.ok }}</ion-button>
  </ion-toolbar>
</ion-footer>