<app-header></app-header>

<ion-content padding-horizontal>
  <form [formGroup]="form" (submit)="login()">
    <ion-grid class="pb-80">
      <ion-row id="text-block" class="violet-text">
        <ion-col>Login</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="upload-img-block">
            <div></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="7" size-lg="5">
          <ion-item class="violet-text form-field" [class.red-text]="submitTry && form.get('email').invalid">
            <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="violet-text form-field" [class.red-text]="submitTry && form.get('password').invalid">
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="btn bottom-btn" type="submit">Save</ion-button>
  </form>
</ion-content>