<app-header></app-header>

<ion-content padding-horizontal>
  <form [formGroup]="form" (submit)="register()">
    <ion-grid>
      <ion-row id="text-block" class="violet-text">
        <ion-col>Registration</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-button id="google-btn" class="w-100">Google Login</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="facebook-btn" class="w-100">Facebook Login</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="!image.profileImgSrc" id="upload-img-block" (click)="image.getProfilePhoto()">
            <ion-img src="assets/screens/icon-profile.svg"></ion-img>
            <div id="rect"></div>
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
          <div *ngIf="image.profileImgSrc" id="img-block" [ngStyle]="{'background-image': 'url(' + image.profileImgSrc + ')'}"
            (click)="image.getProfilePhoto()">
            <div id="label">
              <ion-img src="assets/screens/upload-img.svg"></ion-img>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="7" size-lg="5">
          <ion-item class="violet-text register-form-field" [class.red-text]="submitTry && form.get('name').invalid">
            <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field" [class.red-text]="submitTry && form.get('email').invalid">
            <ion-input type="email" formControlName="email" placeholder="E-mail address"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field" [class.red-text]="submitTry && form.get('password').invalid">
            <ion-input type="password" formControlName="password" placeholder="Password" (ionChange)="validatePasswordConfirmation()"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field" [class.red-text]="submitTry && form.get('confirmPassword').invalid">
            <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" (ionChange)="validatePasswordConfirmation()"></ion-input>
          </ion-item>
          <span class="error-msg" *ngIf="submitTry && form.get('confirmPassword').hasError('unmatch')">
            Passwords do not match
          </span>
          <ion-item class="violet-text select-field" [class.red-text]="submitTry && form.get('language').invalid">
            <ion-label>Language</ion-label>
            <ion-select formControlName="language" placeholder="Select language">
              <ion-select-option value="english">English</ion-select-option>
              <ion-select-option value="hebrew">Hebrew</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row id="text-block" class="violet-text">
        <ion-col>Attach a passport photo, airline tickets, and travel insurance</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.airlineImgFileDeleted" (click)="image.getAirlinePhoto()">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              airline tickets
            </ion-button>
          </div>
          <div *ngIf="!image.airlineImgFileDeleted" (click)="image.deleteAirlinePhoto()">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              airline tickets
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.travelImgFileDeleted" (click)="image.getTravelPhoto()">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              travel insurance
            </ion-button>
          </div>
          <div *ngIf="!image.travelImgFileDeleted" (click)="image.deleteTravelPhoto()">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              travel insurance
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="attach-btn-col" size-5>
          <div *ngIf="image.passportImgFileDeleted" (click)="image.getPassportPhoto()">
            <div>
              <ion-img src="assets/screens/small-upload-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              passport
            </ion-button>
          </div>
          <div *ngIf="!image.passportImgFileDeleted" (click)="image.deletePassportPhoto()">
            <div>
              <ion-img src="assets/screens/delete-img.svg"></ion-img>
            </div>
            <ion-button class="attach-btn">
              passport
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="btn bottom-btn" (click)="register()">Save</ion-button>
  </ion-toolbar>
</ion-footer>