#text-block {
  padding-top: 5%;
}

#disclaimer-btn {
  --background: rgba(0, 161, 214, 0.85);
  --background-activated: rgba(0, 161, 214, 0.85);

  ion-img {
    width: 25px;
    margin-top: 5px;
  }
}
