<app-header></app-header>

<ion-content padding-horizontal>
  <ion-fab (click)="navigateToDisclaimer()" horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button id="disclaimer-btn" size="small">?</ion-fab-button>
  </ion-fab>
  <div id="text-block" class="violet-text bold-text font-size-16">{{ text?.check_up_service | titlecase}}</div>
  <ion-grid no-margin no-padding>
    <ion-row no-margin no-padding>
      <ion-col no-margin no-padding>
        <ion-item class="violet-text form-field"
          [class.error-field]="submitTry && (dateControl.invalid || dateControl.value && !correctDate)">
          <ion-input type="text" readonly [formControl]="dateControl" placeholder="{{ text?.select_date }}"
            (click)="datePicker.open()">
          </ion-input>
          <ion-datetime #datePicker style="display: none" [pickerOptions]="customPickerOptions" [value]="date"
            max="2030"></ion-datetime>
        </ion-item>
        <div class="check-up-item">
          <ion-item>
            <ion-label><span class="violet-text">{{ text?.full_program }}</span></ion-label>
            <ion-checkbox checked="true" disabled></ion-checkbox>
          </ion-item>
          <ion-item disabled>
            <span class="violet-text font-size-14">2800 NIS {{ text?.per_person }}</span>
          </ion-item>
        </div>
        <div class="check-up-item">
          <ion-item>
            <ion-label><span class="violet-text">{{ text?.general_oncomarkers }}</span></ion-label>
            <ion-checkbox [(ngModel)]="oncomarkers" (ionChange)="changeTotal($event, 'oncomarkers')"></ion-checkbox>
          </ion-item>
          <ion-item>
            <span class="violet-text font-size-14">1300 NIS ({{ text?.not_on_the_same_day }})</span>
          </ion-item>
        </div>
        <div class="check-up-item">
          <ion-item>
            <ion-label><span class="violet-text">{{ text?.colonoscopy }}</span></ion-label>
            <ion-checkbox [(ngModel)]="colonoscopy" (ionChange)="changeTotal($event, 'colonoscopy')"></ion-checkbox>
          </ion-item>
          <ion-item>
            <span class="violet-text font-size-14">1822 NIS</span>
          </ion-item>
        </div>
        <ion-item id="total-item">
          <ion-item no-padding>
            <span class="ion-text-uppercase bold-text violet-text font-size-20">{{ text?.total }}</span>
          </ion-item>
          <ion-item slot="end">
            <span class="violet-text">{{ total }} NIS</span>
          </ion-item>
        </ion-item>
        <ion-item *ngIf="submitTry && dateControl.hasError('required')" class="red-text">
          <span>{{ text?.fill_empty_fields }}</span>
        </ion-item>
        <ion-item *ngIf="submitTry && dateControl.hasError('wrongDay')" class="red-text">
          <span>{{ text?.you_can_choose }}</span>
        </ion-item>
        <ion-item *ngIf="submitTry && dateControl.value && !correctDate" class="red-text">
          <span>{{ text?.can_not_choose_past_date }}</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="submitCheckup()">{{ text?.submit }}</ion-button>
  </ion-toolbar>
</ion-footer>