<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="10">
        <ion-item><span id="main-text" class="violet-text">OnLine doctor</span></ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center id="grid-block">
      <ion-col size="10">
        <ion-row>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.securityAlerts.disabled && !sectionsInfo.securityAlerts.number)" class="label">
              <ion-img *ngIf="sectionsInfo.securityAlerts.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.securityAlerts.number">{{ sectionsInfo.securityAlerts.number }}</div>
            </div> -->
            <div id="phone-call" class="grid-item">
              <div>
                <ion-img src="assets/screens/phone-call.svg"></ion-img>
              </div>
            </div>
            Security Alerts
          </ion-col>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.currencyRates.disabled && !sectionsInfo.currencyRates.number)" class="label">
              <ion-img *ngIf="sectionsInfo.currencyRates.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.currencyRates.number">{{ sectionsInfo.currencyRates.number }}</div>
            </div> -->
            <div id="ambulance" class="grid-item">
              <div>
                <ion-img src="assets/screens/ambulance.svg"></ion-img>
              </div>
            </div>
            Currency Rates
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.simCard.disabled && !sectionsInfo.simCard.number)" class="label">
              <ion-img *ngIf="sectionsInfo.simCard.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.simCard.number">{{ sectionsInfo.simCard.number }}</div>
            </div> -->
            <div id="video-chat" class="grid-item">
              <div>
                <ion-img src="assets/screens/video-chat.svg"></ion-img>
              </div>
            </div>
            Sim Card
          </ion-col>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.insurance.disabled && !sectionsInfo.insurance.number)" class="label">
              <ion-img *ngIf="sectionsInfo.insurance.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.insurance.number">{{ sectionsInfo.insurance.number }}</div>
            </div> -->
            <div id="medical-escort" class="grid-item">
              <div>
                <ion-img src="assets/screens/medical-escort.svg"></ion-img>
              </div>
            </div>
            Insurance
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.onlineDoctor.disabled && !sectionsInfo.onlineDoctor.number)" class="label">
              <ion-img *ngIf="sectionsInfo.onlineDoctor.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.onlineDoctor.number">{{ sectionsInfo.onlineDoctor.number }}</div>
            </div> -->
            <div id="schedule-appointment" class="grid-item">
              <div>
                <ion-img src="assets/screens/schedule-appointment.svg"></ion-img>
              </div>
            </div>
            OnLine Doctor
          </ion-col>
          <ion-col class="text-center">
            <!-- <div *ngIf="!(!sectionsInfo.translationServices.disabled && !sectionsInfo.translationServices.number)"
              class="label">
              <ion-img *ngIf="sectionsInfo.translationServices.disabled" src="assets/screens/lock.svg"></ion-img>
              <div *ngIf="sectionsInfo.translationServices.number">{{ sectionsInfo.translationServices.number }}</div>
            </div> -->
            <div id="second-opinion" class="grid-item">
              <div>
                <ion-img src="assets/screens/second-opinion.svg"></ion-img>
              </div>
            </div>
            Translation services
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>