<app-header></app-header>

<ion-content>
  <!-- <form [formGroup]="activeTabIndex === 0 ? creditCardForm : payPalForm"> -->
    <div id="text-block" class="violet-text bold-text font-size-16">{{ text?.payment }}</div>
    <ion-card class="violet-text">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col align-self-end class="font-size-16"><span class="bold-text">{{ plan?.title }}</span></ion-col>
          </ion-row>
          <ion-row id="three-chips-container" justify-content-between>
            <ion-col size="9">
              <ion-row>
                <ion-col class="col-auto text-center">
                  <ion-chip>
                    <ion-icon name="call"></ion-icon>
                  </ion-chip>
                  <p class="bold-text mt-5">{{ plan?.calls }}</p>
                </ion-col>
                <ion-col class="col-auto text-center">
                  <ion-chip>
                    <ion-icon name="wifi"></ion-icon>
                  </ion-chip>
                  <p class="bold-text mt-5">{{ plan?.traffic }} GB</p>
                </ion-col>
                <ion-col class="col-auto text-center">
                  <ion-chip>
                    <ion-icon name="mail"></ion-icon>
                  </ion-chip>
                  <p class="bold-text mt-5">{{ plan?.emails }}</p>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="col-auto">
              <ion-chip id="checked-chip">
                <ion-icon name="checkmark"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div id="price-block" class="font-size-32">{{ plan?.price }}$</div>
    <!-- <div id="tabs-block">
      <ion-grid>
        <ion-row>
          <ion-col class="tab violet-text" size="5" [class.active-tab]="activeTabIndex === 0" (click)="setActiveTab(0)">
            <ion-row justify-content-between>
              <ion-col class="col-auto">
                <div class="circle-wrapper">
                  <div></div>
                </div>
              </ion-col>
              <ion-col>
                <span>Credit card</span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="tab violet-text" size="4" [class.active-tab]="activeTabIndex === 1" (click)="setActiveTab(1)">
            <ion-row justify-content-between>
              <ion-col class="col-auto">
                <div class="circle-wrapper">
                  <div></div>
                </div>
              </ion-col>
              <ion-col>
                <span>Pay Pal</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <!-- <ng-container *ngIf="activeTabIndex === 0">
      <ion-grid id="form-block">
        <ion-row>
          <ion-col>
            <ion-item no-padding class="violet-text select-field" [class.error-field]="submitTry && creditCardForm.get('name').invalid">
              <div></div>
              <ion-select formControlName="name" placeholder="Name of card">
                <ion-select-option value="visa">Visa</ion-select-option>
                <ion-select-option value="master_card">Master Card</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && creditCardForm.get('number').invalid">
              <ion-input type="email" formControlName="number" placeholder="card number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item no-padding class="select-field" [class.error-field]="submitTry && creditCardForm.get('expire').invalid">
              <div></div>
              <ion-datetime display-format="DD/MM/YYYY" [max]="maxDatePickerValue" formControlName="expire" placeholder="Exp. Date"
                class="violet-text" (ionChange)="validateDate($event)"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
          <ion-col size="5">
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && creditCardForm.get('cw').invalid">
              <ion-input type="text" formControlName="cw" placeholder="CW"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('name').hasError('required')">
          <ion-col>
            <ion-item class="red-text">
              <span>Name is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('number').hasError('required')">
          <ion-col>
            <ion-item class="red-text">
              <span>Number is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('number').hasError('minlength')">
          <ion-col>
            <ion-item class="red-text">
              <span>Number minimum length is 16.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('number').hasError('pattern')">
          <ion-col>
            <ion-item class="red-text">
              <span>Only numbers are allowed in the number field.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('expire').hasError('required')">
          <ion-col>
            <ion-item class="red-text">
              <span>Expire is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('expire').hasError('expire')">
          <ion-col>
            <ion-item class="red-text">
              <span>The expire date time is over.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('cw').hasError('required')">
          <ion-col>
            <ion-item class="red-text">
              <span>CW is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('cw').hasError('minlength')">
          <ion-col>
            <ion-item class="red-text">
              <span>CW length must be 3.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('cw').hasError('maxlength')">
          <ion-col>
            <ion-item class="red-text">
              <span>CW length must be 3.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="submitTry && creditCardForm.get('cw').hasError('pattern')">
          <ion-col>
            <ion-item class="red-text">
              <span>Only numbers are allowed in the CW field.</span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="activeTabIndex === 1">
      <ion-grid id="form-block">
        <ion-row>
          <ion-col>
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && payPalForm.get('field1').invalid">
              <ion-input type="text" formControlName="field1" placeholder="Field 1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && payPalForm.get('field2').invalid">
              <ion-input type="email" formControlName="field2" placeholder="Field 2"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && payPalForm.get('field3').invalid">
              <ion-input type="text" formControlName="field3" placeholder="Field 3"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1">
          </ion-col>
          <ion-col size="5">
            <ion-item class="violet-text form-field" [class.error-field]="submitTry && payPalForm.get('field4').invalid">
              <ion-input type="text" formControlName="field4" placeholder="Field 4"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="submitTry && payPalForm.get('field1').hasError('required')" class="red-text">
              <span>Field1 is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="submitTry && payPalForm.get('field2').hasError('required')" class="red-text">
              <span>Field2 is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="submitTry && payPalForm.get('field3').hasError('required')" class="red-text">
              <span>Field3 is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="submitTry && payPalForm.get('field4').hasError('required')" class="red-text">
              <span>Field4 is required.</span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container> -->
  <!-- </form> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="btn bottom-btn" (click)="confirmPlan()">{{ text?.confirm }}</ion-button>
  </ion-toolbar>
</ion-footer>