@import "../../../../utilities";

#text-block {
  padding: 10px 36px;
}

#three-chips-container {
  margin-top: 10px;
  margin-bottom: 10px;
  @media (max-width: 350px) {
    margin-top: 0;
  }

  & > ion-col:first-child {
    padding-top: 0;
    padding-left: 0;
  }
}

ion-card {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px !important;
  margin-right: 10px !important;

  ion-card-content {
    padding: 0 16px !important;

    ion-grid {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 0;
    }
  }
}

#price-block {
  padding: 2% 10%;
  text-align: right;
  font-size: 40px;
  color: $violet;
}

#tabs-block {
  padding-left: 4%;
}

.tab {
  padding: 1px;

  ion-row {
    .col-auto {
      .circle-wrapper {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 1px;
        background: linear-gradient(to right, #6c9eff, #a25ffd);

        div {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    ion-col:not(.col-auto) {
      span {
        white-space: nowrap;
      }
    }
  }
}

.active-tab {
  border-radius: 20px;
  background: linear-gradient(to right, #6c9eff, #a25ffd);

  ion-row {
    background-color: white;
    border-radius: 20px;

    .col-auto {
      .circle-wrapper {
        background-color: white;

        div {
          background: linear-gradient(to right, #6c9eff, #a25ffd);
        }
      }
    }
  }
}

#form-block {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 4%;
}

.form-field {
  margin: 0;
}

ion-button {
  z-index: 2;
}

ion-menu-button {
  color: $pale-blue;
}

ion-badge {
  width: 125px;
  height: 120%;
  background: linear-gradient(to right, #6c9eff, #a25ffd);
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 6px;
  position: relative;
  top: -3px;
}

#logo {
  height: 26px;
  width: 18px;

  #top-part {
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background: linear-gradient(to right, #6c9eff, #a25ffd);

    #circle {
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
    }
  }

  #bottom-part {
    height: 18px;
    width: 6px;
    margin: 2px auto 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, #6c9eff, #a25ffd);
  }
}

.hidden {
  visibility: hidden;
}

#logout-col {
  padding-top: 7px;

  span {
    white-space: nowrap;
  }
}

ion-title {
  font-weight: 100;
}

#home-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 25px;
  top: 15px;
}
