@import "../../../utilities";

#container {
  height: calc(100% - 80px);
  overflow-y: auto;
}

#text-block {
  height: 20%;
  padding-left: 10%;
}

#main-block {
  height: 50%;
  padding-left: 10%;
  padding-right: 4px;
}