@import "../../../utilities";

ion-content {
  --padding-bottom: 80px;
}

#container {
  height: 100%;
}

#text-block {
  height: 20%;
  padding-left: 10%;
}

#main-block {
  height: 50%;
  padding-left: 10%;
  padding-right: 4px;
}
