@import "../../../utilities";

ion-menu-button {
  color: $pale-blue;
}

ion-badge {
  width: 125px;
  height: 120%;
  background: linear-gradient(to right, #6c9eff, #a25ffd);
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 6px;
  position: relative;
  top: -3px;
}

#logo {
  height: 26px;
  width: 18px;

  #top-part {
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background: linear-gradient(to right, #6c9eff, #a25ffd);

    #circle {
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
    }
  }

  #bottom-part {
    height: 18px;
    width: 6px;
    margin: 2px auto 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, #6c9eff, #a25ffd);
  }
}

.hidden {
  visibility: hidden;
}

#logout-col {
  padding-top: 7px;
}

ion-title {
  font-weight: 100;
}

#go-to-request-btn {
  width: 100%;
  height: 45px;
  text-transform: unset;
  --border-radius: 45px;
  --background: linear-gradient(to right, #f56272, #f78a7b);
  --background-activated: linear-gradient(to right, #f56272, #f78a7b);
}

#grid-block {
  color: #6ba0fe;
}

.grid-item {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  border: solid 1px #6ba0fe;
  position: relative;

  ion-img {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.disabled {
  opacity: 0.5;
}

.label {
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #f56272, #f78a7b);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  ion-img {
    width: 45%;
  }
}
