@import "../../../../utilities";

#logo {
  height: 26px;
  width: 18px;

  #top-part {
    height: 6px;
    width: 100%;
    border-radius: 6px;
    background: linear-gradient(to right, #6c9eff, #a25ffd);

    #circle {
      width: 6px;
      height: 6px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
    }
  }

  #bottom-part {
    height: 18px;
    width: 6px;
    margin: 2px auto 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, #6c9eff, #a25ffd);
  }
}

#logout-col {
  padding-top: 7px;

  span {
    white-space: nowrap;
  }
}

#home-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 25px;
  top: 15px;
}

#text-block {
  padding: 5% 36px;
}

ion-card {
  margin: 30px 10px 0 !important;
  border-bottom-style: solid;
  border-radius: 0;

  ion-card-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;

    #title-block {
      position: relative;
      display: flex;
      margin-right: 10px;

      ion-img {
        min-width: 30px;
        width: 30px;
        margin-right: 15px;
        transform: translateY(3px);
      }

      span {
        font-weight: 600;
        font-size: 16px;
      }
    }

    #date-block {
      font-weight: 600;
      font-size: 15px;
      white-space: nowrap;
    }
  }

  ion-card-content {
    padding: 0 16px !important;
  }
}

.no-padding-margin-right {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.link-btn {
  --background: linear-gradient(to right, #6c9eff, #a25ffd);
  --background-activated: linear-gradient(to right, #6c9eff, #a25ffd);
  --border-radius: 30px;
}

.alert-link-btn {
  --background: linear-gradient(to right, #f56272, #f78a7b);
  --background-activated: linear-gradient(to right, #f56272, #f78a7b);
  --border-radius: 30px;
}

.alert-text {
  color: #f56473;
}

.alert-border-text {
  color: #f7897a;
}

ion-spinner {
  display: block;
  height: 100%;
  margin: auto;
}
