<app-header></app-header>

<ion-content padding-horizontal>
  <!-- <ion-item>
    <span class="violet-text bold-text font-size-16">You can appoint your call to doctor and he will be informed</span>
  </ion-item> -->
  <div id="text-block" class="violet-text bold-text font-size-16">{{ text?.you_can_appoint }}</div>
  <form [formGroup]="form">
    <ion-grid no-margin no-padding>
      <ion-row no-margin no-padding>
        <ion-col no-margin no-padding>
          <ion-item class="violet-text form-field" [class.error-field]="submitTry && form.get('doctor').invalid"
            (click)="presentActionSheet()">
            <ion-input type="text" readonly formControlName="doctor" placeholder="{{ text?.select_doctor }}">
            </ion-input>
          </ion-item>
          <ion-item class="violet-text form-field"
            [class.error-field]="submitTry && (form.get('datetime').invalid || form.get('datetime').value && !correctDate)">
            <ion-input type="text" readonly formControlName="datetime" placeholder="{{ text?.select_datetime }}"
              (click)="datetime.open()"></ion-input>
            <ion-datetime #datetime style="display: none" [pickerOptions]="customPickerOptions" [value]="date"
              display-format="MMM DD, YYYY HH:mm" max="2030"></ion-datetime>
          </ion-item>
          <ion-item class="violet-text form-field">
            <ion-textarea formControlName="symptoms" placeholder="{{ text?.your_symptoms }}"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="submitTry && requireValidator('doctor', 'datetime')" class="red-text">
            <span>{{ text?.fill_empty_fields }}</span>
          </ion-item>
          <ion-item *ngIf="submitTry && form.get('symptoms').hasError('maxlength')" class="red-text">
            <span>{{ text?.symptoms_max_length }}</span>
          </ion-item>
          <ion-item *ngIf="submitTry && form.get('datetime').value && !correctDate" class="red-text">
            <span>{{ text?.can_not_choose_past_date }}</span>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="saveAppointment()">{{ text?.submit }}</ion-button>
  </ion-toolbar>
</ion-footer>