<app-header></app-header>

<ion-content>
  <ng-container *ngIf="requests.length && requestsAreLoaded">
    <div id="text-block" class="violet-text bold-text font-size-16">{{ text?.your_requests }}</div>

    <ion-card class="violet-text" *ngFor="let request of requests">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col align-self-end class="font-size-16">
              <span class="bold-text">{{ request?.type }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align-self-end class="font-size-16">
              <span>{{ text?.plan }} {{ request?.package?.title }}</span>
            </ion-col>
          </ion-row>
          <ion-row id="stepper-block">
            <ion-col>
              <!-- <div class="step-item violet-text">{{ request?.status | titlecase }}</div> -->
              <div class="step-item violet-text" *ngFor="let item of request.request_status">{{ item.status | titlecase }}</div>
              <div class="step-item violet-text">{{ text?.requirement_created }} {{ request?.created | date:'short' }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-item *ngIf="!requests.length && requestsAreLoaded">
    <span id="no-requests-message" class="violet-text">{{ text?.no_any_requests }}</span>
  </ion-item>
</ion-content>