<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="10">
        <ion-item><span id="main-text" class="violet-text">OnLine doctor</span></ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center id="grid-block">
      <ion-col size="10">
        <ion-row>
          <ion-col class="text-center">
            <div id="phone-call" class="grid-item">
              <div>
                <ion-img src="assets/screens/phone-call.svg"></ion-img>
              </div>
            </div>
            Security Alerts
          </ion-col>
          <ion-col class="text-center">
            <div id="ambulance" class="grid-item">
              <div>
                <ion-img src="assets/screens/ambulance.svg"></ion-img>
              </div>
            </div>
            Currency Rates
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <div id="video-chat" class="grid-item">
              <div>
                <ion-img src="assets/screens/video-chat.svg"></ion-img>
              </div>
            </div>
            Sim Card
          </ion-col>
          <ion-col class="text-center">
            <div id="medical-escort" class="grid-item">
              <div>
                <ion-img src="assets/screens/medical-escort.svg"></ion-img>
              </div>
            </div>
            Insurance
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center" (click)="callDoctor()">
            <div id="schedule-appointment" class="grid-item">
              <div>
                <ion-img src="assets/screens/schedule-appointment.svg"></ion-img>
              </div>
            </div>
            OnLine Doctor
          </ion-col>
          <ion-col class="text-center">
            <div id="second-opinion" class="grid-item">
              <div>
                <ion-img src="assets/screens/second-opinion.svg"></ion-img>
              </div>
            </div>
            Translation services
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>