$pale-blue: #97c2ef;
$violet: #7d8aff;
$field-background: #f8faff;
$chip-inactive-color: #eff2f8;
$chip-active-color: #7c84c0;

$quicksand: "Quicksand", sans-serif;

@mixin quicksand-font-family {
  font-family: $quicksand;
}
