<app-header></app-header>

<ion-content>
  <ion-grid id="container">
    <ion-row id="text-block" class="violet-text">
      <ion-col>{{ text?.choose_company }}</ion-col>
    </ion-row>
    <ion-row id="main-block" justify-content-center>
      <ion-col size="7" size-md="6">
        <ion-grid class="h-100">
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="first-company" class="w-100 company-btn" [class.disabled-btn]="selectedCompanyId !== 1"
                (click)="selectCompany(1)">
                <div></div>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="second-company" class="w-100 company-btn" [class.disabled-btn]="selectedCompanyId !== 2"
                (click)="selectCompany(2)">
                <div></div>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="media-company-row">
            <ion-col align-self-center>
              <ion-button id="third-company" class="w-100 company-btn" [class.disabled-btn]="selectedCompanyId !== 3"
                (click)="selectCompany(3)">
                <div></div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row id="order-sim-block" justify-content-center>
      <ion-col align-self-center size="8" size-md="7" size-lg="4">
        <ion-button id="oder-sim-btn" class="w-100" (click)="navigateToOrderSimPage()">
          {{ text?.order_sim }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" [disabled]="!companyIsSelected" (click)="navigateToChoosePlanPage()">
      {{ text?.choose_plan }}</ion-button>
  </ion-toolbar>
</ion-footer>