<ion-content>
  <div id="upper-background">
    <ion-menu-toggle slot="start">
      <ion-icon src="assets/screens/white-menu-icon.svg"></ion-icon>
    </ion-menu-toggle>
    <ion-img src="assets/screens/upper-gradient-background-blue.png"></ion-img>
  </div>
  <div id="profile-no-img-block">
    <div>
      <ion-img src="assets/screens/phone-call.svg"></ion-img>
      <div id="rect"></div>
    </div>
  </div>
  <ion-item id="profile-img-label" class="text-item violet-text">
    <span>Phone call</span>
  </ion-item>
  <ion-grid id="connection-block">
    <ion-row>
      <ion-col>
        <ion-img id="dots-image" src="assets/screens/phone-call-dots.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="text-item violet-text">
          <span *ngIf="callStarted">{{getMinutes()}}:{{getSeconds()}}</span>
          <span *ngIf="!callStarted && !callFinished">Waiting for connection...</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="display: none" id="subscriber"></div>
  <div style="display: none" id="publisher"></div>
</ion-content>
<ion-footer no-border>
  <ion-fab-button color="danger" [disabled]="!callStarted" (click)="finishCall()">
    <ion-icon src="assets/screens/phone-call-button.svg"></ion-icon>
  </ion-fab-button>
</ion-footer>