<app-header showBackBtn="true" defaultHref="order-sim-start" backBtnText="{{text ? text.back : ''}}"></app-header>

<ion-content padding-horizontal>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row class="violet-text" justify-content-between>
        <ion-col>
          <span>{{ text?.order_sim }}</span>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="7" size-lg="5">
          <ion-item class="violet-text register-form-field" [class.error-field]="submitTry && form.get('name').invalid">
            <ion-input type="text" formControlName="name" placeholder="{{ text?.name }}"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field"
            [class.error-field]="submitTry && form.get('email').invalid">
            <ion-input type="email" formControlName="email" placeholder="{{ text?.email_address }}"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field"
            [class.error-field]="submitTry && form.get('address').invalid">
            <ion-input type="text" formControlName="address" placeholder="{{ text?.local_address }}"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field" [class.error-field]="submitTry && form.get('city').invalid">
            <ion-input type="text" formControlName="city" placeholder="{{ text?.city }}"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field"
            [class.error-field]="submitTry && form.get('phone_number').invalid">
            <ion-input type="text" formControlName="phone_number" placeholder="{{ text?.phone }}"></ion-input>
          </ion-item>
          <ion-item class="violet-text register-form-field"
            [class.error-field]="submitTry && form.get('company').invalid" (click)="presentActionSheet()">
            <ion-input type="text" readonly formControlName="company" placeholder="{{ text?.choose_sim_company }}">
            </ion-input>
          </ion-item>
          <!-- <ion-item *ngIf="submitTry && form.get('name').hasError('required')" class="red-text">
            <span>{{ text?.name_required }}</span>
          </ion-item> -->
          <ion-item *ngIf="submitTry && form.get('name').hasError('pattern')" class="red-text">
            <span>{{ text?.only_letters }}</span>
          </ion-item>
          <!-- <ion-item *ngIf="submitTry && form.get('email').hasError('required')" class="red-text">
            <span>{{ text?.email_required }}</span>
          </ion-item> -->
          <ion-item *ngIf="submitTry && form.get('email').hasError('email')" class="red-text">
            <span>{{ text?.email_not_valid }}</span>
          </ion-item>
          <!-- <ion-item *ngIf="submitTry && form.get('address').hasError('required')" class="red-text">
            <span>{{ text?.address_is_required }}</span>
          </ion-item>
          <ion-item *ngIf="submitTry && form.get('city').hasError('required')" class="red-text">
            <span>{{ text?.city_is_required }}</span>
          </ion-item>
          <ion-item *ngIf="submitTry && form.get('phone_number').hasError('required')" class="red-text">
            <span>{{ text?.phone_required }}</span>
          </ion-item> -->
          <ion-item *ngIf="submitTry && form.get('phone_number').hasError('pattern')" class="red-text">
            <span>{{ text?.phone_pattern_error }}</span>
          </ion-item>
          <!-- <ion-item *ngIf="submitTry && form.get('company').hasError('required')" class="red-text">
            <span>{{ text?.company_is_required }}</span>
          </ion-item> -->
          <ion-item *ngIf="submitTry && requireValidator('name', 'email', 'address', 'city', 'phone_number', 'company')"
            class="red-text">
            <span>{{ text?.fill_empty_fields }}</span>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="bottom-btn" (click)="orderSim()">{{ text?.order }}</ion-button>
  </ion-toolbar>
</ion-footer>